<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1>THE BOMBEST MUSIC WEBSITE EVER</h1>

    <header class="group">
      <% if logged_in? %>
        <form action="<%=session_url%>" method="post">
            <input type="hidden" name="_method" value="delete">
            <%= auth_token %>
            <p>You are logged in as <%= current_user.email %>.</p>
            <input id="in-button" type="submit" value="log out">
        </form>

        <form action=" <%= user_url(current_user) %> " method="get">
            <%= auth_token %>
            <input type="submit" value="homepage">
        </form>

      <% else %>

        <form action=" <%= new_session_url %> " method="get">
            <%= auth_token %>
            <input id="out-button" type="submit" value="login">
        </form>

        <form action=" <%= new_user_url %> " method="get">
            <%= auth_token %>
            <input id="out-button" type="submit" value="sign the 'f' up">
        </form>

      <% end  %>

    </header>

    <%= yield %>

  </body>
</html>
